body {
  background-color: var(--background);
  margin: 0;
}
body * {
  font-family: var(--gothic_noto);
}
.clickable { cursor: pointer; }
h1, h2, h3 { font-family: var(--letter1); }
p, span { font-size: 18px; }
.margin24 { margin: 24px; }
.padding24 { padding: 24px; }
a { text-decoration: none; color: var(--foreground2); }
button { border: none; background: none; }
.foreground3 { color: var(--foreground3); font-weight: bold; }
.table { display: table; }
.table-row { display: table-row; width: max-content; }
.table-cell:nth-child(1) { padding-right: 24px; }
.table-cell { display: table-cell; }
.box_container { margin: 24px; padding: 24px; border-radius: 18px; box-shadow: 4px 4px 4px var(--shadow), -4px -4px 4px var(--light); }
.box_container > h2 { margin-top: 0; }

:root {
  color: var(--foreground);
  --gothic1: 'Zen Maru Gothic';
  --gothic2: 'BIZ UDGothic';
  --gothic_noto: 'Noto Sans JP';
  --letter1: 'Zen Kurenaido';
  color-scheme: light dark;
  --light_light: hsl(0, 0%, 100%, 70%);
  --light_shadow: hsl(0, 0%, 0%, 4%);
  --dark_light: hsl(0, 0%, 100%, 10%);
  --dark_shadow: hsl(0, 0%, 0%, 20%);
}
:root.dark {
  --background: hsl(256, 39%, 15%);
  --foreground: hsl(0, 0%, 100%);
  --foreground2: hsl(324, 65%, 59%);
  --foreground3: hsl(240, 67%, 69%);
  --shadow: var(--dark_shadow);
  --light: var(--dark_light);
}
:root.light {
  --background: hsl(26, 41%, 95%);
  --foreground: hsl(23, 16%, 22%);
  --foreground2: hsl(324, 85%, 41%);
  --foreground3: hsl(208, 63%, 37%);
  --shadow: var(--light_shadow);
  --light: var(--light_light);
}

#tab_padding { flex: 1; }
.tab:not(#selected):hover { color: var(--foreground2); }
.tab:not(#selected):hover div { background: var(--foreground2); }
.tab { display: flex; align-items: center; }
.tab div { background: gray; mask-repeat: no-repeat; mask-size: cover; margin: 8px; width: 20px; height: 20px; }
.tab-shadow { background: linear-gradient(270deg, var(--shadow), var(--background) 24px); }
#tab_container { position: sticky; top: 0; left: 0; height: 100dvh; min-width: max-content; display: flex; flex-flow: column; margin-right: 24px; }
#tab_container p { margin-top: 0; margin-bottom: 0; padding: 12px; }
#selected { box-sizing: border-box; background: var(--background); filter: drop-shadow(0px 24px 24px var(--shadow)) drop-shadow(0px -24px 24px var(--shadow)); clip-path: inset(-24px 0 -24px 0); border: none; border-left: solid 6px var(--foreground2); }
#main { display: flex; }
#slot_container { flex-grow: 1; }

.container { display: flex; flex-flow: column; align-items: center; }
.slot { max-width: 1200px; }

#profile { display: flex; justify-content: center; align-items: center; min-height: calc(100dvh - 48px); }
#profile h1 { font-family: var(--letter1); }
#face_container { position: relative; z-index: 0; }
#face { width: 200px; height: 200px; border-radius: 5%; margin-left: 24px; box-shadow: inset 4px 4px 4px var(--light), inset -4px 4px 4px var(--shadow); }
#face img { border-radius: 5%; position: relative; z-index: -1; width: 100%; height: auto; }
#mail { font-family: monospace; font-size: 16px; }

.box { display: flex; }
.vertical_line { margin-left: 32px; margin-right: 8px; border-right: 1px solid var(--foreground); }
.content { margin-left: 12px; }
.title { color: var(--foreground3); margin: 0; }
.title_future { color: var(--foreground2); margin: 0; }

#works { justify-content: center; }
#works .work { display: flex; flex-flow: row; }
#works .work .work-img img { margin: 0 auto; }
.work { transition: all ease-in .1s; }
.work:hover { box-shadow: 4px 4px 4px var(--light), -4px -4px 4px var(--shadow); }

#gallery img { max-width: min(400px, 100%); }

h2 { color: var(--foreground3); }
.table-cell { padding-bottom: 8px; padding-top: 8px; }
.table-cell:nth-child(1) { width: 100px; }

@media screen and (max-width: 1200px) {
  .tab:not(#selected) p { display: none; }
}
@media screen and (max-width: 1520px) and (min-width: 1200px) {
  .tab { flex: 1; width: 160px; }
}
@media screen and (max-width: 1520px) {
  #slot_container { margin-left: 24px; margin-right: 24px; }
  #main { flex-flow: column; }
  #tab_container { height: 48px; width: 100dvw; flex-flow: row; }
  #tab_container p { font-size: 16px; }
  .tab-shadow { background: linear-gradient(0deg, var(--shadow), var(--background) 24px); }
  #selected { border-right: none; box-sizing: border-box; background: var(--background); filter: drop-shadow(24px 0 24px var(--shadow)) drop-shadow(-24px 0 24px var(--shadow)); clip-path: inset(0 -24px 0 -20px); border: none; border-top: solid 2px var(--foreground2); }
  #profile { top: 0; right: 0; left: 0; }
}
@media screen and (max-width: 700px) {
  #tab_container { height: 32px; }
  .tab div { margin: 5px; }
  .margin24 { margin: 14px; }
  .box_container { margin-left: 0; margin-right: 0; padding: 12px; border-radius: 8px; }
}
@media screen and (min-width: 1520px) {
  #slot_container { margin-right: 24px; }
  .tab p { margin-right: 10px; }
}
@media (max-aspect-ratio: 1/1) {
  #face { margin-left: 0px; }
  #name { text-align: center; }
  #profile { flex-flow: column; }
}
@media (max-height: 700px) {
  #face { width: 180px; height: 180px; }
  #profile h1 { font-size: 28px; margin: 0; }
  .table-cell { font-size: 14px; }
}
@media (min-width: 791px) {
  .work div { padding-left: 24px; }
  .work .work-img img { max-width: 300px; }
}
@media (max-width: 790px) {
  #works .work { margin: 0; margin-bottom: 24px; border-radius: 0; flex-flow: column; }
  #works .work .work-img img { max-width: min(100%, 300px); }
}
@media (max-width: 768px) {
  .table-cell:nth-child(1) { width: 50px; }
}
